chess==1.11.2
fastapi==0.116.1
Flask==3.1.2
loguru==0.7.3
matplotlib==3.10.6
numpy==2.3.3
openai==1.107.2
paramiko==4.0.0
pydantic==2.11.9
Requests==2.32.5
sounddevice==0.5.2
soundfile==0.13.1
torch==2.8.0
webrtcvad==2.0.10
